<!DOCTYPE html>
<html>

<head>
  <title>My Book</title>
  <link rel="stylesheet" href="static/styles.css">
</head>

<body>
  <header>
    <h1 id="book-title"></h1>
  </header>
  <div class="book">
    <div id="page1" class="page">
      <!--This is where the page 1 text is-->
            
    </div>
    <div id="page2" class="page">
      <!--This is where the page 2 text will be loaded in-->
            
    </div>
    <a href="/complete_story">
      <div id="arrowDiv" class="continue-btn">
          <img class="flex arrow" src="static/arrow.png" alt="Continue">
      </div>
    </a>

  </div>
  <script>
    const text = '{{ text }}'
    console.log(text)
  </script>
  <script src="static/script2.js"></script>
</body>

</html>